@import '../../common/variables.scss';
//-----------------------------------------------------------------

//-------------------------------------vars
$background: #E9E6E6;
$color: #566885;
//-------------------------------------vars


//-----------------------------------------------------------------
.contentBody {
    background: $background;
    height: 100vh;
}