//-------------------------------------vars
$background: #E9E6E6;
$color: #566885;
//-------------------------------------vars


//-----------------------------------------------------------------
.app {
    background: $background;
    height: 100%;
        width: 100%;
}